@import "../../../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  color: $text-color-black-theme;

  .greeting-container {
    display: flex;
    justify-content: space-between;

    img {
      margin-right: 1em;
      height: 350px;
      width: auto;
    }
  }
}
