@import "../../../styles/mixins";

.Large {
  @include mat-card-style;
  height: 240px;
  width: 810px;

  color: $text-color-black-theme;

  mat-card-header {
    display: flex;
    flex-direction: column;
    gap: 1em;

    #greeting {
      letter-spacing: .1em;
    }

    #name {
      color: $text-color-hover-black-theme;
    }
  }

  mat-card-content {
    padding-right: 2.5em;
    padding-top: 3em;
  }

}

.XSmall {
  @include mat-card-style;
  margin-left: 0.8em;
  margin-right: 0.8em;
  width: 100%;

  mat-card-header {
    display: flex;
    flex-direction: column;
    gap: 1em;

    #greeting-xs {
      letter-spacing: .1em;
    }

    #name-xs {
      color: $text-color-hover-black-theme;
    }
  }

  mat-card-content {
    padding-right: 2.5em;
    padding-top: 3em;
  }

}


app-skill-collection {
  margin-top: 3em;
}
