<mat-grid-list
  cols="4" rowHeight="160px">
  <mat-grid-tile class="left-col"
                 [colspan]="3"
                 [rowspan]="">

    <!-- [class.extra-small]="currentBreakpoint === BreakpointEnum.XSmall"
     [class.small]="currentBreakpoint === BreakpointEnum.Small"-->
    <div class="greeting">
      <span class="first-line">Hey ich bin Maximilian Lamm</span>
      <span class="second-line">Und ein Java, Spring Boot & Angular Enthusiast</span>
    </div>
    <div class="history">
      <span>
        2019 hatte ich meine Umschulung zum Fachinformatiker Anwendungsenticklung abgeschlosen.
      </span>
      <span>
       Seit her konnte ich mein Wissen in verschiedenen Unternehmen und branchen vertiefen.
      </span>
      <br/>
    </div>
    <div class="social-container">
      <a href="https://www.linkedin.com/feed/"><img src="assets/icons/linkedIn.png" alt="linkedin icon"></a>
      <a href="https://github.com/MaxEngineer90"><img src="assets/icons/github-mark-white.png" alt="github icon"></a>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>image</mat-grid-tile>
</mat-grid-list>
<div class="skill-container">
  <app-skill-card title="Backend"
                  [entries]="['Java', 'Spring Boot', 'JUNIT 5', 'Mockito']"></app-skill-card>

  <app-skill-card title="Frontend"
                  [entries]="['Angular 17', 'Typescript', 'Html', 'Scss']"></app-skill-card>

  <app-skill-card title="DevOps"
                  [entries]="['GitHub actions', 'Docker', 'Kubernetes', 'keycloak']"></app-skill-card>
</div>
