@import "../../../styles/mixins";

.about-me-container {
  display: flex;
  flex-direction: column;
  background-color: $background-color-black-theme;
  color: $text-color-black-theme;
  width: 100%;

  .greeting-image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .techstack-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1rem;
    gap: 10px;

    .tech-stack-title,
    app-tech-stack-collection {
      align-self: center;
    }

    .tech-stack-title {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }
  }
}

.divider {
  @include divider;
  margin-top: 1rem;
}
