mat-toolbar{
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;

  .logo{
  }

  .bookmarks{
    display: flex;
    gap: 10px;
  }

  .bookmarks span {
    cursor: pointer;
    transition: color 0.3s, text-decoration 0.3s;
  }

  .bookmarks span:hover {
    text-decoration: underline;
    color: #26e826;
  }
}
