.entry-container {
  display: flex;
  align-items: center;
  justify-content: center; // Zentriert den Inhalt (einschließlich des Icons) anfangs
  gap: 5px;

  .entry-icon {
    height: 25px;
    transition: transform 0.3s ease;
    position: relative;
    left: 50%; // Startet in der Mitte
    transform: translateX(
      -50%
    ); // Korrigiert die Position, um zentriert zu sein
  }

  .entry-text {
    opacity: 0;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    .entry-icon {
      left: 0; // Bewegt das Icon beim Hovern nach links
      transform: translateX(0); // Setzt die Transformierung zurück
    }

    .entry-text {
      opacity: 1; // Macht den Text sichtbar
      transform: translateX(0); // Setzt die Transformierung für den Text zurück
    }
  }
}
