.greeting,
.history-social-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.history-social-container {
  .history {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .social-container {
    display: flex;
    gap: 20px;
    align-self: flex-start;
    margin-top: 1rem;

    img {
      height: 1.5rem;
      width: auto;
    }
  }
}
