<div
  [class.greeting-medium]="currentBreakpoint === breakpointEnum.Medium"
  [class.greeting-xsmall]="currentBreakpoint === breakpointEnum.XSmall"
  class="greeting"
>
  <span class="first-line">Hey, ich bin Maximilian Lamm</span>
  <span class="second-line"
    >{{ displayText }}<span class="typewrite-cursor"></span
  ></span>
</div>

<div class="history-social-container">
  <div class="history">
    <span>
      Im Jahr 2019 schloss ich erfolgreich meine Umschulung zum Fachinformatiker
      für Anwendungsentwicklung ab.
    </span>
    <span>
      Seitdem habe ich die Gelegenheit genutzt, meine Kenntnisse und Fähigkeiten
      zu vertiefen.
    </span>
  </div>

  <div class="social-container">
    <a href="https://www.linkedin.com/feed/"
      ><img alt="linkedin icon" src="assets/icons/linkedIn.png"
    /></a>
    <a href="https://github.com/MaxEngineer90"
      ><img alt="github icon" src="assets/icons/github-mark-white.png"
    /></a>
  </div>
</div>
