<!--
<div
  [class.greeting-sm]="currentBreakpoint === breakpointEnum.Small"
  [class.greeting-xs]="currentBreakpoint === breakpointEnum.XSmall"
  class="greeting"
>
  <span
    [class.font-size-h1-lg]="currentBreakpoint === breakpointEnum.Large"
    [class.font-size-h1-md]="currentBreakpoint === breakpointEnum.Medium"
    [class.font-size-h1-sm]="currentBreakpoint === breakpointEnum.Small"
    [class.font-size-h1-xl]="currentBreakpoint === breakpointEnum.XLarge"
    [class.font-size-h1-xs]="currentBreakpoint === breakpointEnum.XSmall"
    >Hey, ich bin Maximilian Lamm</span
  >
</div>

<div class="history-social-container">
  <div class="history">
    <span
      [class.font-size-text-lg]="currentBreakpoint === breakpointEnum.Large"
      [class.font-size-text-md]="currentBreakpoint === breakpointEnum.Medium"
      [class.font-size-text-sm]="currentBreakpoint === breakpointEnum.Small"
      [class.font-size-text-xl]="currentBreakpoint === breakpointEnum.XLarge"
      [class.font-size-text-xs]="currentBreakpoint === breakpointEnum.XSmall"
    >
     Meine Karriere als Softwareentwicker begann im Jahr 2019 nach abschluss meiner Umschulung zum Fachinformatiker ( Anwendungsentwickler )
    </span>
    <span
      [class.font-size-text-lg]="currentBreakpoint === breakpointEnum.Large"
      [class.font-size-text-md]="currentBreakpoint === breakpointEnum.Medium"
      [class.font-size-text-sm]="currentBreakpoint === breakpointEnum.Small"
      [class.font-size-text-xl]="currentBreakpoint === breakpointEnum.XLarge"
      [class.font-size-text-xs]="currentBreakpoint === breakpointEnum.XSmall"
    >
      Seitdem habe ich die Gelegenheit genutzt, meine Kenntnisse und Fähigkeiten
      zu vertiefen.
    </span>
  </div>
</div>
-->
<span
  [class.font-size-text-lg]="currentBreakpoint === breakpointEnum.Large"
  [class.font-size-text-md]="currentBreakpoint === breakpointEnum.Medium"
  [class.font-size-text-sm]="currentBreakpoint === breakpointEnum.Small"
  [class.font-size-text-xl]="currentBreakpoint === breakpointEnum.XLarge"
  [class.font-size-text-xs]="currentBreakpoint === breakpointEnum.XSmall"
>
  Mein beruflicher Weg führte mich von der Gastronomie zur IT.
</span>
<span
  [class.font-size-text-lg]="currentBreakpoint === breakpointEnum.Large"
  [class.font-size-text-md]="currentBreakpoint === breakpointEnum.Medium"
  [class.font-size-text-sm]="currentBreakpoint === breakpointEnum.Small"
  [class.font-size-text-xl]="currentBreakpoint === breakpointEnum.XLarge"
  [class.font-size-text-xs]="currentBreakpoint === breakpointEnum.XSmall"
>
  Nach einer erfolgreichen Umschulung zum Fachinformatiker im Jahr 2019 habe ich
  die Welt der Anwendungsentwicklung für mich entdeckt.
</span>
<span
  [class.font-size-text-lg]="currentBreakpoint === breakpointEnum.Large"
  [class.font-size-text-md]="currentBreakpoint === breakpointEnum.Medium"
  [class.font-size-text-sm]="currentBreakpoint === breakpointEnum.Small"
  [class.font-size-text-xl]="currentBreakpoint === breakpointEnum.XLarge"
  [class.font-size-text-xs]="currentBreakpoint === breakpointEnum.XSmall"
>
  Hier vereine ich meine Leidenschaft für Technik mit meiner langjährigen
  Berufserfahrung, um qualitativ hochwertige Softwarelösungen zu entwickeln.
</span>
