@import "../../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 45%;
  margin-top: 0.5rem;
  background-color: $background-color-black-theme;
  color: $text-color-black-theme;
  align-items: center;

  span {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  app-certification-card {
    display: flex;
    gap: 30px;
  }
}
