@import "./variables";

@mixin mat-card-style {
  box-sizing: border-box;
  transition: transform 0.3s ease,
  box-shadow 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
  background-color: $background-color-black-theme;
}

@mixin divider {
  margin-top: 0;
  display: flex;
  background-color: $text-color-hover-black-theme;
  width: 100%;
  height: 0.5rem;
}

@mixin custom-font-size($size) {
  font-size: $size;
}
