@import "./variables";

.font-size-h1-xs {
  font-size: $font-size-h1-xs;
}

.font-size-h1-sm {
  font-size: $font-size-h1-sm;
}

.font-size-h1-md {
  font-size: $font-size-h1-md;
}

.font-size-h1-lg {
  font-size: $font-size-h1-lg;
}

.font-size-h1-xl {
  font-size: $font-size-h1-xl;
}

.font-size-h2-xs {
  font-size: $font-size-h2-xs;
}

.font-size-h2-sm {
  font-size: $font-size-h2-sm;
}

.font-size-h2-md {
  font-size: $font-size-h2-md;
}

.font-size-h2-lg {
  font-size: $font-size-h2-lg;
}

.font-size-h2-xl {
  font-size: $font-size-h2-xl;
}

.font-size-text-xs {
  font-family: $text-font-family;
  font-size: $font-size-text-xs;
}

.font-size-text-sm {
  font-family: $text-font-family;
  font-size: $font-size-text-sm;
}

.font-size-text-md {
  font-family: $text-font-family;
  font-size: $font-size-text-md;
}

.font-size-text-lg {
  font-family: $text-font-family;
  font-size: $font-size-text-lg;
}

.font-size-text-xl {
  font-family: $text-font-family;
  font-size: $font-size-text-xl;
}
