$text-color-hover-black-theme: #e59503;
$text-color-black-theme: white;
$background-color-black-theme: #2a2a3b;

//H1
$font-size-h1-xs: 1.4em;
$font-size-h1-sm: 1.6em;
$font-size-h1-md: 1.8em;
$font-size-h1-lg: 2em;
$font-size-h1-xl: 3em;

//H2
$font-size-h2-xs: 1.2em;
$font-size-h2-sm: 1.3em;
$font-size-h2-md: 1.4em;
$font-size-h2-lg: 1.5em;
$font-size-h2-xl: 2.5em;

//Text
$font-size-text-xs: 0.8em;
$font-size-text-sm: 0.9em;
$font-size-text-md: 1em;
$font-size-text-lg: 1.1em;
$font-size-text-xl: 1.8em;
$text-font-family: "ASAP Condensed Extra Light", serif;
