@import "../../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  color: $text-color-black-theme;

  .tech-stack-title {
    padding-left: 16px;
  }

  .info,
  .tech-stack-entry-container {
    margin-top: 2em;
  }

  .tech-stack-entry-container {
    display: flex;
    gap: 2em
  }
}
