@import "../../../../styles/variables";

:host {
  display: flex;
  flex-direction: column;
  height: 80%;
  padding-left: 1em;
  background-color: $background-color-black-theme;
  color: $text-color-black-theme;
  align-items: center;
  margin-top: 2em;

  span {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .certification-sm {
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .certification-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 1.5em;
  }

  .certification-container :hover {
    cursor: pointer;
  }
}
