@import "../../../../../styles/mixins";

mat-card {
  @include mat-card-style;

  mat-card-header,
  mat-card-content {
    align-self: center;
  }

  mat-card-header {
    font-size: 1.4rem;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;

    app-entry {
      display: flex;
      margin-top: 18px;
      gap: 5px;
    }
  }
}
