@import "../../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;

  .tech-stack-entry-container {
    display: flex;
    gap: 30px;
  }

  .info {
    margin-top: 1rem;
    align-self: center;
  }
}
