<div class="container">
  <div class="tech-stack-entry-container">
    <app-tech-stack-card
      [entries]="backendTechStackEntries"
      title="Backend"
    ></app-tech-stack-card>

    <app-tech-stack-card
      [entries]="frontEndTechStackEntries"
      title="Frontend"
    ></app-tech-stack-card>

    <app-tech-stack-card
      [entries]="devOpsTechStackEntries"
      title="DevOps"
    ></app-tech-stack-card>
  </div>
  <div class="info">
    <p>Prompt Engeneering ist kein Fremdwort für mich</p>
  </div>
</div>
