<span
  [class.font-size-h1-lg]="currentBreakpoint === breakpointEnum.Large"
  [class.font-size-h1-md]="currentBreakpoint === breakpointEnum.Medium"
  [class.font-size-h1-sm]="currentBreakpoint === breakpointEnum.Small"
  [class.font-size-h1-xl]="currentBreakpoint === breakpointEnum.XLarge"
  [class.font-size-h1-xs]="currentBreakpoint === breakpointEnum.XSmall"
  class="tech-stack-title"
>
  Mein Techstack
</span>
<div class="tech-stack-entry-container">
  <app-tech-stack-card
    [entries]="backendTechStackEntries"
    title="Backend"
  ></app-tech-stack-card>

  <app-tech-stack-card
    [entries]="frontEndTechStackEntries"
    title="Frontend"
  ></app-tech-stack-card>

  <app-tech-stack-card
    [entries]="devOpsTechStackEntries"
    title="DevOps"
  ></app-tech-stack-card>
  <app-tech-stack-card
    [entries]="somethingTechStackEntries"
    title="Sonstieges"
  ></app-tech-stack-card>
</div>
